$color_c1: #777;
$color_c2: #fff;
$color_c3: #f4ed16;
$gray-medium-light: #eaeaea;
$color-bbb: #bbb;
$color_g1: #222;
$color_g3: #555;
$color_red: red;
$color_g4: #e8e8e8;
$color_blue: blue;
$color_yellow: yellow;
